<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
<h3>Пароль изменен</h3>
<p> При входе на сайте используйте новые данные</p>
<p> Логин: {{ user }}</p>
<p> Пароль: {{ password }}</p>
<br>
<br>
<br>
<br>
<ul>
    <p>
        __________________________________________
    </p>
    <li>
        По всем вопросам можно оветить на этот адрес электронной почты или по номеру телефона +7 927 214 04 14
    </li>

</ul>



</body>
</html>