<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Новый заказ</title>
</head>
<body>
<h3>Здравствуйте! Заказ №{{ order.id }} успешно размещен</h3>
<p> {{ order.status }}</p>
<a href="">Посмотреть историю заказов</a>
<br>
<br>
<br>
<br>
<ul>
    <p>
        __________________________________________
    </p>
    <li>
        По всем вопросам можно оветить на этот адрес электронной почты или по номеру телефона +7 927 214 04 14
    </li>

</ul>



</body>
</html>